yolov5-CCTSDB/pretrained/yolov5l.pt filter=lfs diff=lfs merge=lfs -text
yolov5-CCTSDB/runs/train/exp13/weights/best.pt filter=lfs diff=lfs merge=lfs -text
yolov5-CCTSDB/runs/train/exp13/weights/last.pt filter=lfs diff=lfs merge=lfs -text
yolov5-CCTSDB/runs/train/expl/weights/best.pt filter=lfs diff=lfs merge=lfs -text
yolov5-CCTSDB/runs/train/expl/weights/last.pt filter=lfs diff=lfs merge=lfs -text
data/KAL1/image/train[[:space:]]new.rar filter=lfs diff=lfs merge=lfs -text
